<!-- CUSTOMER MODAL-->
<div id="c_modal_id" class="c_modal">

    <!-- Modal content -->
    <div class="c_modal-content">
      <span class="c_close">&times;</span>
      <form onkeypress="return event.keyCode!=13">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" id="c_search_input" >
              <div id="c_search_place"></div>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary mb-2" id="c_search_btn">Confirm identity</button>
            </div>
          </div>
        </form>
    </div>
  </div>
  </div>
